/* more notes by Erik T. in index_clone.html */
body
{
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
  z-index: 9000;
cursor: crosshair;
}
/*banner_title*/
.banner1 {
	padding-right: 70%;
	font-size: 33px;
 text-shadow: 3px 3px black;
}
.banner2 {
	padding-left: 60px;
	font-size: 33px;
 text-shadow: 3px 3px black;
}
.banner3 {
	padding-left: 120px;
	font-size: 33px;
 text-shadow: 3px 3px black;
}
.page-title {
	padding-left: 25px;
	font-size: 27px;
	text-shadow: 3px 3px black;
}
.video {
padding-right: 5%;
padding-left: 5%;
text-align: center;
}

footer {
   position: fixed;
   width: 100%;
   height: 0px;
   bottom: 0%;
   left: 48%;
   color: white;
   transform: translate(-50%, 0);
   padding-left: 10%;
   padding-right: 5%;
   padding-bottom: 30px;
   padding-top: 0%;
   border-top: 0%;
   background-color: var(--bg);
   opacity: 0.6;
   text-shadow: 3px 3px black;
	 z-index: 9;
}
nav{
  background-color: #232323;
	 z-index: 0;
}
main{
  padding-top: 0px;
  z-index: 10999;
  background-color: rgba(000, 000, 000, 0.7);
}
.text-shadow1 {
  color: whitesmoke;
  text-shadow: 3px 3px 5px #000000;
}

.text-shadow2{
  color: oldlace;
  text-shadow: 2px 2px 2px #000000;
}

.button12 { 
text-decoration:none;
font-family: var(--font1);
font-weight: 900px;
   opacity: 0.9;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
cursor: crosshair;
  padding: 1px 1px;
  font-size: 100%;
 background-color: black;
  color: whitesmoke; 
  border: 1px solid var(--color1);
  padding: 5px;
}

.active, .button12:hover {
text-decoration:underline;
 background-color: var(--color2);
  color: var(--bg);
  border: 1px solid var(--color2);
}
/*
 	]- MENU -[ 
 */
a
{
  text-decoration: none;
  color: #232323;
   cursor: crosshair;
  transition: color 0.3s ease;
}

a:hover
{

  color: tomato;
  cursor: crosshair; 
  z-index: 0;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 0;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: crosshair; 
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 235px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

/* GALLERY */
}
.gallery {
  padding: 10px;
  max-width: 1100px;

  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense; /* Controls how the auto-placement algorithm works, specifying exactly how auto-placed items get flowed into the grid. */
}

/* Stretch image vertically */
.v-stretch {
  grid-row: span 2;
}

/* Stretch image horizontally */
.h-stretch {
  grid-column: span 2;
}

/* Stretch image vertically and horizontally */
.big-stretch {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Make the gallery items all matchy matchy on smaller screen sizes */
@media screen and (max-width: 515px) {
  .v-stretch {
    grid-row: span 1;
  }

  .h-stretch {
    grid-column: span 1;
  }

  .big-stretch {
    grid-column: span 1;
    grid-row: span 1;
  }
}
